:root {
  /* Constants */

  /* Font Sizes */
  --font-size-275: 11px;
  --font-size-350: 14px;
  --font-size-400: 16px;
  --font-size-650: 26px;
  --font-size-800: 32px;
  --font-size-900: 36px;
  --font-size-1000: 40px;
  --font-size-1100: 44px;
  --font-size-1200: 48px;
  --font-size-1400: 56px;

  /* Colors */
  --white: #ffffff;
  --black: #000000;

  --gray-100: #fafafa;
  --gray-200: #f6f6f6;
  --gray-500: #828282;
  --gray-950: #080808;

  --gray-100-opacity-32: rgba(250, 250, 250, 0.32);
  --gray-950-opacity-32: rgba(8, 8, 8, 0.32);

  /*Spaces*/
  --space-150: 6px;
  --space-200: 8px;

  /*Border*/
  --border-width-025: 1px;

  /*Semantic Tokens*/
  /* Fonts */
  --font-family-primary: "Montserrat", sans-serif;

  /*Text Colors*/
  --color-text-primary: var(--gray-950);
  --color-text-secondary: var(--gray-100);

  /*Background Colors*/
  --color-background-primary: var(--gray-100);
  --color-background-secondary: var(--gray-950);
  --color-background-tertiary: var(--gray-500);

  /*Border*/
  --color-border-primary: var(--gray-950);
  --color-border-secondary: var(--gray-100);

  /*Font Sizes*/
  --font-size-h1: var(--font-size-1000);
  --font-size-h2: var(--font-size-650);
  --font-size-body: var(--font-size-350);
  --font-size-label: var(--font-size-275);
  --font-size-caption: var(--font-size-275);

  @media (min-width: 768px) {
    --font-size-h2: 32px;
  }

  @media (min-width: 1440px) {
    --font-size-h2: 36px;
  }

  /*Gaps*/
  --gap-card-xs: var(--space-150);

  /*Z-Indexes*/
  --z-index-sticky: 100;
  --z-index-overlay: 8000;
  --z-index-header: 7000;
  --z-index-header-nav-mobile: 6000;

  /*Container*/
  --container-max-width: 1440px;
  --container-padding: 24px;

  @media (min-width: 768px) {
    --container-padding: 48px;
  }

  @media (min-width: 1024px) {
    --container-padding: 56px;
  }

  @media (min-width: 1440px) {
    --container-padding: 64px;
  }
}
