@use "../../../../../app/styles/mixins" as mixins;

.hero {
  padding-top: 116px;
  padding-bottom: 65px;

  @include mixins.respond(sm) {
    padding-top: 138px;
    padding-bottom: 92px;
  }

  @include mixins.respond(md) {
    padding-top: 162px;
    padding-bottom: 100px;
  }

  @include mixins.respond(lg) {
    padding-top: 208px;
    padding-bottom: 124px;
  }

  &__container {
    max-width: 1440px;
    padding-inline: 24px;

    @include mixins.respond(sm) {
      padding-left: 124px;
    }

    @include mixins.respond(md) {
      padding-left: 159px;
    }

    @include mixins.respond(lg) {
      padding-inline: 197px;
      margin: 0 auto;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;

    @include mixins.respond(sm) {
      gap: 16px;
    }

    @include mixins.respond(md) {
    }

    @include mixins.respond(lg) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    color: var(--color-text-primary);

    @include mixins.respond(sm) {
      font-size: 32px;
    }

    @include mixins.respond(lg) {
      font-size: 36px;
    }
  }

  &__dropdown {
    width: fit-content;
    @include mixins.respond(sm) {
      display: none;
    }
  }

  &__tabs {
    display: none;

    @include mixins.respond(sm) {
      display: block;
    }

    .tabs__list {
      @include mixins.respond(sm) {
        gap: 28px;
      }
      @include mixins.respond(md) {
        gap: 26px;
      }
      @include mixins.respond(lg) {
        gap: 32px;
      }
    }
  }
}
