{%macro picture(images, attributes)%}
<picture>
    {% if images.lg %}
    <source srcset="{{images.lg}}" media="(min-width: 1440px)" type="image/jpeg">
    {% endif %}
    {% if images.md %}
    <source srcset="{{images.md}}" media="(min-width: 1024px)" type="image/jpeg">
    {% endif %}
    {% if images.sm %}
    <source srcset="{{images.sm}}" media="(min-width: 768px)" type="image/jpeg">
    {% endif %}
    <img src="{{images.xs}}" alt="{{attributes.alt}}" class="{{attributes.class}}"
        loading="{{attributes.loading | default('lazy')}}"
        fetchpriority="{{attributes.fetchpriority | default('auto')}}">
</picture>
{%endmacro%}