@use "../../../../../app/styles/mixins" as mixins;
@use "../../../../../app/styles/variables" as variables;

.philosophy {
  $breakpoint-desktop: 1199;
  padding-block: 140px;

  .block-1 {
    padding-left: 18.26vw;
    display: flex;
    margin-bottom: 140px;

    @include mixins.media-desktop($breakpoint-desktop) {
      padding-inline: 9vw;
      flex-direction: column;
      gap: 16px;
    }

    @include mixins.media-desktop(500) {
      padding-inline: 24px;
    }

    &__col-1 {
      padding-right: 8.819vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-block: 16px;

      @include mixins.media-desktop($breakpoint-desktop) {
        padding-right: 0;
        align-items: center;
      }
    }

    &__col-2 {
      min-width: 0;
    }

    &__title {
      font-weight: 700;
      font-size: 26px;
      color: #080808;
      max-width: 383px;
      margin-bottom: 12px;

      @include mixins.respond(sm) {
        font-size: 32px;
      }
      @include mixins.respond(lg) {
        font-size: 36px;
      }
    }

    &__description {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: var(--color-text-primary);
      margin-bottom: 40px;

      @include mixins.media-desktop($breakpoint-desktop) {
        max-width: 70%;
        text-align: center;
      }

      @include mixins.media-desktop(500) {
        max-width: 100%;
      }
    }

    .slider-nav {
      &__current,
      &__total {
        color: #828282;
      }

      &__progress {
        width: 226px;
        background-color: rgba(130, 130, 130, 0.32);
      }

      &__progress-bar {
        background-color: #828282;
      }

      &__prev,
      &__next {
        svg path {
          stroke: #828282;
        }
      }
    }

    .swiper-slide {
      aspect-ratio: 552/444;
      max-width: 552px;

      @include mixins.media-desktop($breakpoint-desktop) {
        max-width: 100%;
        aspect-ratio: 552/444;
      }

      @include mixins.media-desktop(500) {
        aspect-ratio: 1;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .block-2 {
    display: grid;
    grid-template-columns: clamp(250px, 35.8vw, 516px) 1fr;
    padding-left: 9vw;
    position: relative;

    @include mixins.media-desktop($breakpoint-desktop) {
      padding-inline: 9vw;
      grid-template-columns: 1fr;
    }

    @include mixins.media-desktop(500) {
      padding-inline: 24px;
    }

    &__col-1 {
      aspect-ratio: 516/607;

      @include mixins.media-desktop($breakpoint-desktop) {
        aspect-ratio: 552/444;
        order: 2;
      }
    }

    &__col-2 {
      padding-left: 9.17vw;
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include mixins.media-desktop(lg) {
        padding-top: 0;
      }

      @include mixins.media-desktop($breakpoint-desktop) {
        order: 1;
        padding-left: 0;
        align-items: center;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &__description {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      color: var(--color-text-primary);
      max-width: 382px;

      @include mixins.media-desktop($breakpoint-desktop) {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 72px;
      }

      @include mixins.media-desktop(500) {
        max-width: 100%;
      }
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows: repeat(2, max-content);
      column-gap: 79px;
      row-gap: 42px;
      margin-bottom: 72px;

      @include mixins.media-desktop($breakpoint-desktop) {
        justify-content: space-around;
        column-gap: 0px;
        row-gap: 50px;
        width: 100%;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      &__number {
        font-weight: 700;
        font-size: 56px;
        color: var(--color-text-primary);

        @include mixins.media-desktop(md) {
          font-size: 32px;
        }

        @include mixins.media-desktop(sm) {
          font-size: 26px;
        }
      }

      &__description {
        max-width: 94px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: var(--color-text-primary);

        @include mixins.media-desktop(sm) {
          font-size: 11px;
          max-width: 79px;
        }
      }
    }

    &__right-image-wrapper {
      position: absolute;
      bottom: -6.75%;
      right: 0;
      aspect-ratio: 168/216;

      @include mixins.media-desktop(lg) {
        display: none;
      }
    }
  }
}
