.input {
  display: flex;
  flex-direction: column;
  // gap: 7px;
  position: relative;

  &__label {
    font-size: var(--font-size-label);
    color: var(--color-text-primary);
  }

  &__control {
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
    color: var(--color-text-primary);
    padding: 0;
    margin-bottom: 7px;

    &::placeholder {
      color: var(--gray-500);
    }
  }

  &__underline {
    height: 1px;
    background: var(--gray-950-opacity-32);
  }

  &__error {
    font-size: var(--font-size-caption);
    color: var(--color-text-error);
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
    text-align: left;
  }
}
