<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.min.css">
</head>

<body>
    {% include "./widgets/header/header.html" %}

    {% include "pages/home/ui/sections/hero/hero.html" %}

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, perferendis in at itaque voluptatum sit vero
    reiciendis officiis magni, qui quo est. Alias quae beatae saepe veniam quod, non voluptatem.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint fugit impedit, cupiditate adipisci a id cum debitis
    sed itaque, aut saepe est mollitia quo repudiandae quas alias ipsam eum qui.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere doloribus architecto provident ex illum expedita
    quos sed laudantium recusandae tempore suscipit quisquam, eos dolor aperiam voluptas nobis repellat ipsa
    praesentium.
    <div id="portal-root">
        {% from "shared/ui/nav-menu/nav-menu.html" import nav_menu %}
        {% from "shared/ui/button/button.html" import button %}
        {% from "shared/ui/contacts-panel/contacts-panel.html" import contacts_panel %}

        {% set mobileMenuItems = [
        { "href": "/", "name": "Home" },
        { "href": "#", "name": "Projects" },
        { "href": "#", "name": "About us" },
        { "href": "#", "name": "Blog" },
        { "href": "#", "name": "Contacts" }
        ] %}
        <div class="nav-menu-mobile">
            <div class="nav-menu-mobile__content">
                <div class="nav-menu-mobile__main">
                    {{ nav_menu(mobileMenuItems, "nav-menu--mobile") }}
                    {{ button("Send Request", "button--primary button--white") }}
                </div>
                <div class="nav-menu-mobile__footer">
                    {{ contacts_panel() }}
                </div>
            </div>
        </div>
    </div>
</body>
<script src="@js/home.js"></script>

</html>