{% from "widgets/header/header.html" import header %}
{% from "shared/ui/nav-menu/nav-menu.html" import nav_menu %}
{% from "shared/ui/button/button.html" import button %}
{% from "shared/ui/contacts-panel/contacts-panel.html" import contacts_panel %}
{% from "shared/ui/make-request-modal/make-request-modal.html" import makeRequestModal %}
{% from "shared/ui/succes-modal/succes-modal.html" import successModal %}
{% set mobileMenuItems = [
{ "href": "/", "name": "Home" },
{ "href": "#", "name": "Projects" },
{ "href": "#", "name": "About us" },
{ "href": "#", "name": "Blog" },
{ "href": "#", "name": "Contacts" }
] %}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
</head>

<body>

    {{ header() }}

    {% include "pages/home/ui/sections/hero/hero.html" %}
    {% include "pages/home/ui/sections/philosophy/philosophy.html" %}
    {% include "pages/home/ui/sections/projects/projects.html" %}
    {% include "pages/home/ui/sections/lorem-ipsum/lorem-ipsum.html" %}
    <footer>
        {% include "widgets/sections/contacts/contacts.html" %}
        {% include "widgets/copyright/copyright.html" %}
    </footer>
    <div id="portal-root">
        <div class="nav-menu-mobile">
            <div class="nav-menu-mobile__content">
                <div class="nav-menu-mobile__main">
                    {{ nav_menu(mobileMenuItems, "nav-menu--mobile") }}
                    {{ button("Send Request", "button--primary button--white make-request-btn") }}
                </div>
                <div class="nav-menu-mobile__footer">
                    {{ contacts_panel() }}
                </div>
            </div>
        </div>
        {{ makeRequestModal() }}
        {{ successModal() }}
    </div>
</body>
<script src="js/home.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>

</html>