{% from "pages/news/ui/sections/news/ui/news-card-split.html" import newsCardSplit %}
{% from "pages/news/ui/sections/news/ui/news-card.html" import newsCard %}

{% set newsList = [
{
images: {
xs: "assets/images/news-page/news-section/image-1-375px.jpg",
sm: "assets/images/news-page/news-section/image-1-768px.jpg",
md: "assets/images/news-page/news-section/image-1-1024px.jpg",
lg: "assets/images/news-page/news-section/image-1-1440px.jpg"

},
title: "5 smart tips for productive collaboration with the designer",
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu
diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam.",
link: "/interior-studio/one-news.html"
},
{
images: {
xs: "assets/images/news-page/news-section/image-2-375px.jpg",
sm: "assets/images/news-page/news-section/image-2-768px.jpg",
md: "assets/images/news-page/news-section/image-2-1024px.jpg",
lg: "assets/images/news-page/news-section/image-2-1440px.jpg"
},
title: "Non-standard plinth options",
link: "/interior-studio/one-news.html"
},
{
images: {
xs: "assets/images/news-page/news-section/image-3-375px.jpg",
sm: "assets/images/news-page/news-section/image-3-768px.jpg",
md: "assets/images/news-page/news-section/image-3-1024px.jpg",
lg: "assets/images/news-page/news-section/image-3-1440px.jpg"
},
title: "Interior design, LCD Rybalsky",
link: "/interior-studio/one-news.html"
},
{
images: {
xs: "assets/images/news-page/news-section/image-1-375px.jpg",
sm: "assets/images/news-page/news-section/image-1-768px.jpg",
md: "assets/images/news-page/news-section/image-1-1024px.jpg",
lg: "assets/images/news-page/news-section/image-1-1440px.jpg"
},
title: "5 smart tips for productive collaboration with the designer",
description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel gravida urna. Donec blandit sapien eu
diam ullamcorper euismod. Nam tempus pellentesque ligula ut aliquam.",
link: "/interior-studio/one-news.html"
}

] %}


{% macro news() %}
<section class="news">
    <div class="container">
        <div class="news__wrapper">
            <div class="news__list">
                {% for news in newsList %}
                {% if loop.first or loop.last %}
                {{ newsCardSplit(news.images, {
                link: news.link,
                alt: "news-card-split"
                }) }}
                {% else %}
                {{ newsCard(news, {
                link: news.link,
                alt: "news-card"
                }) }}
                {% endif %}
                {% endfor %}
            </div>
            <div class="news__pagination pagination">
                <button class="pagination__arrow pagination__arrow--prev" type="button" aria-label="Previous page">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M11.6667 7H2.33333M2.33333 7L5.83333 3.5M2.33333 7L5.83333 10.5" stroke="#080808"
                            stroke-width="1" />
                    </svg>
                </button>
                <div class="pagination__numbers">
                    <a href="#" class="pagination__number">01</a>
                    <a href="#" class="pagination__number">02</a>
                    <a href="#" class="pagination__number">03</a>
                    <span class="pagination__dots">...</span>
                    <a href="#" class="pagination__number">15</a>
                </div>
                <button class="pagination__arrow pagination__arrow--next" type="button" aria-label="Next page">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M2.33333 7H11.6667M11.6667 7L8.16667 3.5M11.6667 7L8.16667 10.5" stroke="#080808"
                            stroke-width="1" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
{% endmacro %}