{% from "shared/ui/project-card/project-card.html" import projectCard %}
{% from "shared/ui/picture/picture.html" import picture %}
{% from "shared/ui/button/button.html" import button %}

{% set projects = [
{
id: 1,
title: "Residence by the lighthouse",
images: {
xs: "assets/images/home-page/projects/image-1-375px.jpg",
sm: "assets/images/home-page/projects/image-1-768px.jpg",
md: "assets/images/home-page/projects/image-1-1024px.jpg",
lg: "assets/images/home-page/projects/image-1-1440px.jpg"
},
link: "/interior-studio/one-project.html",
city: "Lodz",
date: "16.10.2018",
area: "80 sq.m"
},
{
id: 2,
title: "Minimalist style home",
images: {
xs: "assets/images/home-page/projects/image-2-375px.jpg",
sm: "assets/images/home-page/projects/image-2-768px.jpg",
md: "assets/images/home-page/projects/image-2-1024px.jpg",
lg: "assets/images/home-page/projects/image-2-1440px.jpg"
},
link: "/interior-studio/one-project.html",
city: "Lodz",
date: "16.10.2018",
area: "80 sq.m"
},
{
id: 3,
title: "Eyewear store interior",
images: {
xs: "assets/images/home-page/projects/image-3-375px.jpg",
sm: "assets/images/home-page/projects/image-3-768px.jpg",
md: "assets/images/home-page/projects/image-3-1024px.jpg",
lg: "assets/images/home-page/projects/image-3-1440px.jpg"
},
link: "/interior-studio/one-project.html",
city: "Lodz",
date: "16.10.2018",
area: "80 sq.m"
},
{
id: 4,
title: "House on a Hillside",
images: {
xs: "assets/images/home-page/projects/image-4-375px.jpg",
sm: "assets/images/home-page/projects/image-4-768px.jpg",
md: "assets/images/home-page/projects/image-4-1024px.jpg",
lg: "assets/images/home-page/projects/image-4-1440px.jpg"
},
link: "/interior-studio/one-project.html",
city: "Lodz",
date: "16.10.2018",
area: "80 sq.m"
}
] %}

{% set seeMore = {
link: "#",
text: "See more 60 projects",
images: {
xs: "assets/images/home-page/projects/image-5-375px.jpg",
sm: "assets/images/home-page/projects/image-5-768px.jpg",
md: "assets/images/home-page/projects/image-5-1024px.jpg",
lg: "assets/images/home-page/projects/image-5-1440px.jpg"
}
} %}

{% set overlapingCards = [
{
id: 1,
image: "assets/images/home-page/projects/stack-1.jpg"
},
{
id: 2,
image: "assets/images/home-page/projects/stack-2.jpg"
},
{
id: 3,
image: "assets/images/home-page/projects/stack-3.jpg"
},
{
id: 4,
image: "assets/images/home-page/projects/stack-4.jpg"
},
{
id: 5,
image: "assets/images/home-page/projects/stack-5.jpg"
},
{
id: 6,
image: "assets/images/home-page/projects/stack-6.jpg"
},
{
id: 7,
image: "assets/images/home-page/projects/stack-7.jpg"
},
{
id: 8,
image: "assets/images/home-page/projects/stack-8.jpg"
},
{
id: 9,
image: "assets/images/home-page/projects/stack-9.jpg"
},
{
id: 10,
image: "assets/images/home-page/projects/stack-10.jpg"
}
] %}


<section class="projects">
    <div class="container">
        <div class="projects__top">
            <div class="top-block">
                <h2 class="top-block__title">
                    Our Projects
                </h2>
                <p class="top-block__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae
                    posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
                </p>
            </div>
        </div>
        <div class="projects__main">
            <div class="projects__list projects-list">
                {% for project in projects %}
                <div class="projects-list__item">
                    {{projectCard(project)}}
                </div>
                {% endfor %}
                <div class="projects-list__item">
                    <div class="see-more">
                        <a href="{{seeMore.link}}" class="see-more__link">
                            <div class="see-more__text">{{seeMore.text}}</div>
                            {{picture(seeMore.images, {
                            class: "see-more__image",
                            alt: "see-more"
                            })}}
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="projects__bottom">
            <div class="overlaping-cards">
                <div class="overlaping-cards__item-left">
                    <div class="overlaping-cards__text-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
                <div class="overlaping-cards__item-right">
                    <div class="overlaping-cards__text-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae
                        posuere. Ut at luctus ligula. Nunc ante felis, aliquam eu enim sed, ornare pretium velit.
                    </div>
                    {{button("Make request", "button--secondary button--secondary-white make-request-btn")}}
                </div>

                <div class="overlaping-cards__cards cards">
                    {% for card in overlapingCards %}
                    <img src="{{card.image}}" alt="overlaping-cards" class="cards__image">
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>